torchsummary
h5py
scikit-learn
scikit-image
pytorch-lightning
gc-python-utils
opencv-python
Pillow
matplotlib
seaborn
pandas
tifffile
wandb
kornia
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git